@import url('https://fonts.cdnfonts.com/css/montserrat-alternates');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --header-height: 7rem;

    /* Dark theme */
    --dark-h-color: #94ad7a;
    --dark-a-color: #d6975b;
    --dark-bg-color: #212936;
    --dark-fg-color: #fff;
    --dark-toc-a-color: #eda800;
    --dark-marginals-color: #131b25;
    --dark-item-color: #fff;
    --dark-menu-color: #353d4b;
    --dark-switch-icon: '\f185';
    --dark-switch-color: #fff;
    --dark-tr-even-color: #323a46;

    /* Light theme */
    --light-h-color: darkred;
    --light-a-color: teal;
    --light-bg-color: antiquewhite;
    --light-fg-color: black;
    --light-toc-a-color: sienna;
    --light-marginals-color: bisque;
    --light-item-color: black;
    --light-menu-color: burlywood;
    --light-switch-icon: '\f186';
    --light-switch-color: black;
    --light-tr-even-color: bisque;
}

@media (prefers-color-scheme: dark) {
    :root {
        --h-color: var(--dark-h-color);
        --a-color: var(--dark-a-color);
        --bg-color: var(--dark-bg-color);
        --fg-color: var(--dark-fg-color);
        --toc-a-color: var(--dark-toc-a-color);
        --marginals-color: var(--dark-marginals-color);
        --item-color: var(--dark-item-color);
        --menu-color: var(--dark-menu-color);
        --switch-icon: var(--dark-switch-icon);
        --switch-color: var(--dark-switch-color);
        --tr-even-color: var(--dark-tr-even-color);
    }

    #theme-switch:checked ~ #themed {
        --h-color: var(--light-h-color);
        --a-color: var(--light-a-color);
        --bg-color: var(--light-bg-color);
        --fg-color: var(--light-fg-color);
        --toc-a-color: var(--light-toc-a-color);
        --marginals-color: var(--light-marginals-color);
        --item-color: var(--light-item-color);
        --menu-color: var(--light-menu-color);
        --switch-icon: var(--light-switch-icon);
        --switch-color: var(--light-switch-color);
        --tr-even-color: var(--light-tr-even-color);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --h-color: var(--light-h-color);
        --a-color: var(--light-a-color);
        --bg-color: var(--light-bg-color);
        --fg-color: var(--light-fg-color);
        --toc-a-color: var(--light-a-toc-color);
        --marginals-color: var(--light-marginals-color);
        --item-color: var(--light-item-color);
        --menu-color: var(--light-menu-color);
        --switch-icon: var(--light-switch-icon);
        --switch-color: var(--light-switch-color);
        --tr-even-color: var(--light-tr-even-color);
    }

    #theme-switch:checked ~ #themed {
        --h-color: var(--dark-h-color);
        --a-color: var(--dark-a-color);
        --bg-color: var(--dark-bg-color);
        --fg-color: var(--dark-fg-color);
        --toc-a-color: var(--dark-a-toc-color);
        --marginals-color: var(--dark-marginals-color);
        --item-color: var(--dark-item-color);
        --menu-color: var(--dark-menu-color);
        --switch-icon: var(--dark-switch-icon);
        --switch-color: var(--dark-switch-color);
        --tr-even-color: var(--dark-tr-even-color);
    }
}

html {
    font-family: 'Montserrat alternates', sans-serif;
    font-weight: 400;
}

#themed {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

header {
    width: 100vw;
    height: var(--header-height);
}

.navbar {
    position: fixed;
    background-color: var(--marginals-color);
    display: flex;
    min-height: calc(0.5 * var(--header-height));
    min-width: 100vw;
    flex-flow: row no-wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 30;
    box-shadow: 0 7px 5px 0 #0008;
}

.navbar-left {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.navbar-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.navbar-item {
    min-height: calc(0.5 * var(--header-height));
    color: var(--item-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-decoration: none;
    align-content: center;
}

.navbar-icon {
    padding-right: 0.5rem;
}

.menu {
    display: inline-block;
    width: auto;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: var(--menu-color);
    padding: 1rem;
    font-size: 0.95rem;
    margin-top: 0.5rem;
    border-radius: 7.5px;
    z-index: 20;
}

.menu-item {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--item-color);
    text-decoration: none;
}

main {
    min-height: calc(100vh - 2*var(--header-height));
    font-size: 1rem;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.75;
}

/* || For the welcome page */
.welcome {
    min-height: calc(100vh - 2*var(--header-height));
    align-content: center;
    text-align: center;
    line-height: 1.5;
}

.my-name {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.my-profession {
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.5;
}
/* || For the welcome page */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--h-color);
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--h-color);
    padding: 2rem 0 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--h-color);
    padding: 1.5rem 0 0;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--h-color);
    padding: 1rem 0 0;
}

a {
    font-weight: 500;
    color: var(--a-color);
    text-decoration: none;
}

tbody tr {
    vertical-align: top;
}

tbody tr:nth-child(even) {
    background-color: var(--tr-even-color);
}

tbody td {
    padding: 0.25rem 1rem 0;
}

.toc {
    position: fixed;
    padding: 1rem 1rem 1rem 2rem;
    top: 5vh;
    left: 0;
    width: 23vw;
    height: 95vh;
    overflow-y: scroll;
    border-right: 2px solid #555;
    z-index: 10;
}

.toc ul {
    padding-top: 0;
    list-style-type: disk outside;
}


.toc ul li {
    font-size: 0.95rem;
    padding-top: 1rem;
}

.toc ul ul {
    padding-top: 0.25rem;
    padding-left: 1.5rem;
    list-style-type: circle;
}

.toc ul ul li {
    font-size: 0.9rem;
    padding-top: 0.75rem;
}

.toc a:hover {
    color: var(--toc-a-color);
}

footer {
    width: 100vw;
    height: var(--header-height);
    font-size: 0.875rem;
    align-content: end;
}

.site-footer {
    position: relative;
    background-color: var(--marginals-color);
    display: flex;
    height: calc(0.5 * var(--header-height));
    min-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    z-index: 30;
    box-shadow: 0 -10px 5px 0 #0008;
}

.footer-left {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.footer-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.underlined {
    text-decoration: underline;
}

#theme-switch {
    display: none;
}


#switch-label {
    display: block;
    position: fixed;
    top: calc(0.5 * var(--header-height) + 50px);
    left: calc(100vw - 75px);
}

#switch-label::before {
    font-family: 'Font Awesome 6 Free';
    content: var(--switch-icon);
    color: var(--switch-color);
    font-size: 1.5rem;
}
